<h2>ログイン</h2>
<from id="login_form">
    <div>
        <label>ユーザー名:</label>
        <input type="text">
    </div>
    <div>
        <label>パスワード</label>
        <input type="passward">
    </div>
    <div>
        <input type="submit" value="ログイン">
    </div>
</form>